@charset "UTF-8";

a{
	text-decoration: none;
}
img{
	width: 100%;
}

div{
	line-height: 1;
}


.page{
	width: 100%;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
}

.ja{
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	color: #222;
}

.logo{
	position: fixed;
	left: 0;
	top: 30px;
	background-color: #f0353c;
	color: #fff;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 180px;
	font-weight: bold;
	z-index: 999;
	transition: all .5s ease;
}

.logo-text{
	position: relative;
	font-size: 2rem;
}

.logo-text::after{
	position: absolute;
	content: "Port folio";
	left: 50%;
	transform: translateX(-50%);
	bottom: -40px;
	font-size: 1.6rem;
}



.logo.active{
	top: 0;
	height: 130px;
	line-height: 110px;
}

.logo.active .logo-text{
	font-size: 1.5rem;
}

.logo.active .logo-text::after{
	font-size: 1.2rem;
	bottom: -30px;
}

.nav{
	display: flex;
	justify-content: space-between;
	position: fixed;
	font-size: 1.6rem;
	font-weight: bold;
	width: 450px;
	right: 60px;
	top: 60px;
	z-index: 999;
}

.nav li{
	cursor: pointer;
}

.fv{
	position: relative;
	display: flex;
	align-items: center;
	
}

.fv-photo{
	width: 48%;
	margin-left:100px;
}

.fv-photo img{
	object-fit: cover;
}

.fv-textbox{
	font-weight: bold;
	margin-left: 8%;
	color: #333;

}

.fv-welcome{
	font-size: 1vw;
	font-weight: bold;
	color: #f0353c;
	letter-spacing: .5px;
}

.fv-text{
	font-size: 3.4vw;
	margin-top: 20px;
	letter-spacing: 2px;
}

.fv-subtext{
	font-size: 1.6vw;
	letter-spacing: 1px;
	margin-top: 20PX;
}

.scroll-up{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color:  #f0353c;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 1.8rem;
	z-index: 999;
	cursor: pointer;
}

.section-title{
	font-size: 17rem;
	font-weight: bold;
	width: 100%;
	color: #f0353c;
	letter-spacing: 1px;
}

.work{
	width: 100%;
	position: relative;
	margin-top: 80px;
}

.work-title{
	text-align: right;
}

.work-container{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 60px auto 0;
}

.work-box{
	width: 48%;
}


.work-photo{
	box-shadow: 20px 20px 20px rgba(0,0,0,.1);
}


.work-texttitle{
	font-weight: bold;
	font-size: 2.2rem;
	margin-top: 30px;
}

.work-text{
	font-size: 1.6rem;
	margin-top: 25px;
}

.work-day{
	margin-top: 40px;
}

.work-more{
	display: block;
	width: 250px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #555;
	border-radius: 30px;
	color: #333;
	text-align: center;
	margin: 50px auto 0 0;
	font-size: 1.4rem;
}

.skill{
	margin-top: 120px;
}

.skill-container{
	width: 85%;
	margin: 80px auto 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skill-box{
	width: 30%;
	margin: 0px auto 0;
	text-align: center;
}

.skill-box i{
	font-size: 18rem;
	margin:  0 auto;
	color: #333;
}

.skill-img{
	width: 160px;
	margin: 60px auto 0;
}

.skill-name{
	font-size: 2rem;
	margin-top: 15px;
	font-weight: bold;
}

.skill-level{
	font-size: 1.6rem;
	margin-top: 15px;
}

.skill-text{
	width: 70%;
	margin: 10px auto 0;
	font-size: 1.5rem;
	margin-top: 10px;
	line-height: 1.8;
}

.profile{
	width: 100%;
	margin-top: 120px;
	padding-bottom: 80px;
}

.profile-title{
	text-align: right;
}

.profile-top{
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 85%;
	margin: 60px auto 0;
	padding-right: 20px;
}

.profile-photo{
	width: 40%;
}

.profile-photo img{
	border-radius: 50%;
}

.profile-top-text{
	width: 50%;
}

.profile-name{
	font-size: 4rem;
}

.brithday,
.hobby,
.university{
	margin-top: 30px;
	font-size: 1.6rem;
	line-height: 2;
}

.self-title{
	width: 80%;
	margin: 60px auto 0;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: .5px;
	text-align: center;
}

.self-goal{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 40px auto 0;
	text-align: center;
}

.self-goal-box{
	border: 2px solid #444;
	border-radius: 20px;
	padding: 30px;
	width: 32%;
}


.self-year{
	position: relative;
	font-size: 1.8rem;
}

.self-year::after{
	position: absolute;
	content: "";
	background-color: #444;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -11px;
	width: 95%;
	height: 2px;
}

.self-subtitle{
	margin-top: 25px;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 1px;
	line-height:1.7;
}

.self-goal-box i{
	margin-top: 15px;
	font-size: 1.4rem;
}

.self-goal-sentence{
	margin-top: 15px;
	font-size: 1.4rem;
	line-height: 2;
	letter-spacing: .5px;
	text-align: left;
}

.res-profile-about{
	display: none;
}

.self-about-title{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 30px;
}

.self-sentence{
	margin-top: 15px;
	font-size: 1.6rem;
	line-height: 2.2;
	letter-spacing: .5px;
;
}

@media(max-width:896px){
	.res-menu{
		position: fixed;
		display: block;
		background-color: #f0353c;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		right: 20px;
		top: 30px;
		z-index:1000;
		cursor: pointer;
	}
	
	.res-menu div{
		position: absolute;
		width: 35%;
		height: 2px;
		top: 50%;
		left: 0;
		right: 0;
		margin: auto;
		background-color: #fff;
		border-radius: 1px;
			transition: all .3s ease;
		
	}
	
	.res-menu div:nth-of-type(1){
		transform: translateY(-7px);
	}
	
	.res-menu div:nth-of-type(3){
		transform: translateY(7px);
	}
	
	.res-menu.active div:nth-of-type(1){
		transform:rotate(45deg);
	}
	
	
	.res-menu.active div:nth-of-type(2){
		opacity: 0;
	}
	.res-menu.active div:nth-of-type(3){
		transform:rotate(-45deg);
	}

	
	.logo{
		top: 30px;
		color: #fff;
		width: 160px;
		height: 160px;
		line-height: 150px;
	}

	.logo-text{
		font-size: 1.6rem;
	}

	.logo-text::after{
		bottom: -30px;
		font-size: 1.3rem;
	}＾



	.logo.active{
		height: 100px;
		line-height: 80px;
	}

	.logo.active .logo-text{
		font-size: 1.5rem;
	}

	.logo.active .logo-text::after{
		font-size: 1.2rem;
		bottom: -30px;
	}

	.nav{
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: #f0353c;
		font-size: 2.4rem;
		font-weight: bold;
		right: 0px;
		top: 0px;
		color: #fff;
		text-align: center;
		padding-top: 10%;
		z-index: 999;
		display: none;
	}
	
	.nav li{
		margin-top: 60px;
	}
	
	.fv{
		display: block;

	}

	.fv-photo{
		width: 85%;
		margin:0 0 0 auto;
	}

	.fv-photo img{
		object-fit: cover;
	}

	.fv-textbox{
		margin-left: 15%;
		margin-top: 40px;
	}

	.fv-welcome{
		font-size: 2rem;
	}

	.fv-text{
		font-size: 6.4rem;
	}

	.fv-subtext{
		font-size: 2.4rem;
	}

	.scroll-up{
		bottom: 20px;
		right: 20px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 1.8rem;
	}

	.section-title{
		font-size: 13rem;
	}

	.work{
		margin-top: 120px;
	}
	
	.work-container{
		display: block;
		width: 90%;
		margin: 60px auto 0;
	}

	.work-box{
		width: 100%;
		margin-top: 80px;
	}


	.work-more{
		width: 80%;
		margin: 40px auto 0;
		font-size: 1.4rem;
	}

	
	.skill{
		margin-top: 100px;
	}

	.skill-container{
		width: 90%;
		margin: 80px auto 0;
	}

	.skill-box i{
		font-size: 14rem;
	}

	.skill-img{
		width: 120px;
		margin: 60px auto 0;
	}

	.skill-name{
		font-size: 1.8rem;
	}

	.skill-level{
		font-size: 1.3rem;
	}

	.skill-text{
		font-size: 1.3rem;
	}

	.profile{
		margin-top: 100px;
		padding-bottom: 60px;
	}

	.profile-top{
		display: flex;
		width: 80%;
		margin: 60px auto 0;
		padding-right: 0px;
	}

	.profile-photo{
		width: 45%;
	}

	.profile-top-text{
		width: 45%;
	}

	.profile-name{
		font-size: 4rem;
	}

	.brithday,
	.hobby,
	.university{
		margin-top: 20px;
		font-size: 1.6rem;
	}

	.self-sentence{
		margin-top: 20px;
		font-size: 1.6rem;
		letter-spacing: .5px;
	}


	.self-title{
		width: 80%;
		font-size: 2rem;
	}

	.self-goal{
		width: 90%;
}

	.self-goal-box{
		width: 32%;
	}


	.self-year{
		font-size: 1.6rem;
	}

	.self-year::after{
		bottom: -9px;
	}

	.self-subtitle{
		margin-top: 25px;
		font-size: 1.4em;
	}

	.self-goal-box i{
		font-size: 1.4rem;
	}

	.self-goal-sentence{
		font-size: 1.2rem;
	}
	
	.res-profile-about{
		display: block;
		width: 90%;
		margin: 40px auto 0;
	}
	
	.profile-about{
		display: none;
	}
}


@media(max-width:480px){
	.res-menu{
		width: 50px;
		height: 50px;
		right: 15px;
		top: 30px;
		z-index:1000;
		cursor: pointer;
	}
	
	.res-menu div{
		height: 1px;
		top: 50%;
	}
	
	.res-menu div:nth-of-type(1){
		transform: translateY(-5px);
	}
	
	.res-menu div:nth-of-type(3){
		transform: translateY(5px);
	}
	
	
	.logo{
		top: 0px;
		width: 100px;
		height: 100px;
		line-height: 90px;
	}

	.logo-text{
		font-size: 1.1rem;
	}

	.logo-text::after{
		bottom: -20px;
		font-size:.9rem;
	}


	.logo.active{
		width: 100px;
		height: 100px;
		line-height: 90px;
	}

	.logo.active .logo-text{
		font-size:1.1rem;
	}

	.logo.active .logo-text::after{
		font-size: .9rem;
		bottom: -20px;
	}

	.nav{
		font-size: 2rem;
		padding-top: 10%;
	}
	
		.fv-photo{
			width: 92%;
			height: 70vh;
		}

		.fv-photo img{
			height: 70vh;
		}


	.fv-textbox{
		margin-top: 40px;
	}

	.fv-welcome{
		font-size: 1.6rem;
	}

	.fv-text{
		font-size: 4rem;
	}

	.fv-subtext{
		font-size: 2rem;
	}

	.scroll-up{
		bottom: 10px;
		right: 20px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.6rem;
	}

	.section-title{
		font-size: 7.4rem;
	}

	.work{
		margin-top: 80px;
	}
	
	.work-container{
		margin: 40px auto 0;
	}

	.work-box{
		margin-top: 40px;
	}

	.work-texttitle{
		font-size: 1.5rem;
		margin-top: 20px;
	}

	.work-text{
		font-size: 1.2rem;
		margin-top: 15px;
	}

	.work-day{
		margin-top: 30px;
	}


	.work-more{
		width: 100%;
		margin: 30px auto 0;
		font-size: 1.2rem;
		height: 50px;
		line-height: 50px;
	}

	
	.skill{
		margin-top: 80px;
	}

	.skill-container{
		margin: 20px auto 0;
	}
	
	.skill-box{
		width: 48%;
		margin-top: 40px;
	}

	.skill-box i{
		font-size:9rem;
	}

	.skill-img{
		width: 80px;
		margin: 0 auto;
	}

	.skill-name{
		font-size: 1.4rem;
	}

	.skill-level,
	.skill-text{
		display: none;
	}



	.profile{
		margin-top: 80px;
		padding-bottom: 40px;
	}

	.profile-top{
		display: block;
		width: 90%;
		margin: 40px auto 0;
	}

	.profile-photo{
		width: 90%;
		margin: 0 auto;
	}

	.profile-top-text{
		width: 100%;
		text-align: center;
	}

	.profile-name{
		font-size: 3rem;
		margin-top: 30px;
	}

	.brithday,
	.hobby,
	.university{
		margin-top: 15px;
		font-size: 1.4rem;
	}

	.self-sentence{
		margin-top: 20px;
		font-size: 1.4rem;

	}

	.self-goal{
		width: 90%;
		flex-wrap: wrap;
}

	.self-goal-box{
		width: 100%;
		margin-top: 20px;
	}


	.self-year{
		font-size: 1.6rem;
	}

	.self-year::after{
		bottom: -9px;
	}

	.self-subtitle{
		margin-top: 25px;
		font-size: 1.4em;
	}

	.self-goal-box i{
		font-size: 1.4rem;
	}

	.self-goal-sentence{
		font-size: 1.2rem;
	}
	
	.res-profile-about{
		display: block;
		width: 90%;
		margin: 40px auto 0;
	}
	
	.profile-about{
		display: none;
	}
}